.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom_button {
  min-width: 165px;
  width: auto;
  height: 45px;
  letter-spacing: 0.5px;
  line-height: 45px;
  padding: 0 35px 0 35px;
  font-size: 16px;
  background-color: #3b5999;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 15px;
  letter-spacing: 1px;
}

.custom_button:hover {
  background-color: #153b8d;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.7);
}
