.label {
  color: #3b5999;
  text-transform: capitalize;
  font-weight: bold;
}

.input {
  outline: 2px solid #3b5999;
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 10px;
}
